<h1 class="author">Maria Saavedra</h1>
<p class="introduction">
    I'm a creative technologist, I began my career in the software industry at the age of sixteen. 
    My passions revolve around technology, art, and convincing others anything is possible.
</p>
<p class="social-links">
    <a href="https://www.linkedin.com/in/msaav" target="_blank">LinkedIn</a> /
    <a href="https://github.com/mariasaavedra" target="_blank">GitHub</a> /
    <a href="https://instagram.com/_maria.jpg" target="_blank">Instagram</a> /
    <a href="https://twitter.com/maria_saavedra" target="_blank">Twitter</a>
</p>