@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';


// overrides
.author {
    font-size: 4.5rem;
    line-height: 3.5rem;
    margin: 1.5rem 0;
    letter-spacing: -3px
}
.introduction {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0;
    font-weight: 300;
}
.social-links {
    font-size: 1em;  
    font-weight: 600;
    margin: 0;
    a {
        color: $brand-primary;
    }
}
.newsletter {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 4rem;
    font-family: $font-primary;
    text-align: center;
    #mc_embed_signup input.email {
        background: #f3f3f3;
        border: 0;
        padding: 1rem;
        font-size: 1rem;
        height: auto;
        font-family: $font-primary;
        border-radius: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #mc_embed_signup {
        background: transparent;
        &_scroll{
            text-align: center;   
        }
        .button {
            background: #8E2DE2;
            background: -webkit-linear-gradient(to right, #4A00E0, #651fff);
            background: linear-gradient(to right, #4A00E0, #651fff);
            vertical-align: baseline;
            padding: .7rem;
            padding-left: 8px;
            height: auto;
            min-width: 80px;
            border-radius: 30px;
            position: relative;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-family: $font-primary;
        }
    }
}



